/* main.css */
/* layout */
.top_header_5 { z-index:10; position:fixed; top:0; left:0; width:100%; box-sizing:border-box; padding:5px 10px 15px; }
.top_header_5>.header_T { display:flex; justify-content:space-between; align-items:center; font-size:12px; margin-bottom:15px; }
.top_header_5>.header_B { display:flex; justify-content:space-between; align-items:center; margin:0 10px; font-size:16px; }
main.profile { background:url(../images/bg_default.png)no-repeat 50% 0; background-size:cover; }


/* header */
.top_header_5 i { color:#fff; }
.top_header_5 span { color:#fff; }

.top_header_5 .header_T>ul { display:flex; flex:1; }
.top_header_5 .header_T>ul li { margin-right:4px; }
.top_header_5 .header_T>ul li>span { margin-right:3px; }
.top_header_5 .header_T>ul li:last-of-type { margin-right:0; }
.top_header_5 .header_T>span { flex:1; text-align:center; }
.top_header_5 .header_T>ul:last-of-type { justify-content:flex-end; }

.top_header_5 .header_B>span { flex:1; font-size:1.333em; }
.top_header_5 .header_B>i { flex:1; text-align:right; }


/* main */
main.profile header { z-index:5; position:relative; bottom:-60px; display:flex; flex-direction:column; justify-content:flex-end; height:65vh; text-align:center; }
main.profile header p img { width:100px; border-radius:50%; margin-bottom:10px; }
main.profile header h3 { font-size:16px; font-weight:normal; }

main.profile section { display:flex; flex-direction:column; align-items:center; padding-top:60px; background-color:#fff; }
main.profile section input { padding:5px; margin:15px 0 20px; }
main.profile section dl { display:flex; }
main.profile section dl dd { display:flex; flex-direction:column; align-items:center; font-size:12px; font-family:AppleB; }
main.profile section dl dd:first-of-type { margin-right:15px; }
main.profile section dl dd i { padding:15px; border-radius:50%; margin-bottom:15px; background-color:#f2f2f2; font-size:1.333em; color:#523737; }
